.RegularError {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.RegularError-img,
.RegularError-title {
  color: white;
  margin: 0px;
}
